
main {
  background: #f1ebce;
}

/* Layout */
// Containers

.container {
  padding-right: 0;
  padding-left: 0;
}

/* HEADER */

.site-logo {
  margin: 1.5rem 0 1rem 0;
}

.site-title {
  margin: 1rem 0 1.5rem 0;
}

.site-title small {
  font-size: 1rem;
}

// Navbar

.navbar {
}

// Nav

.nav-item,
.nav-link {
  display: inline-block;
}

@media (min-width: 992px) {

  // Overriding Bootstrap's hardcoded padding
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  // Adding a separator to nav-items
  .navbar-nav .nav-item a:before {
    content: '\00a0|\00a0'
  }

  .navbar-nav .nav-item:first-child a:before,
  .navbar-nav .dropdown-menu .nav-item a:before {
    content: ''
  }

}



/* END HEADER */

/* FOOTER */

.footer-top address {
  margin-bottom: 0;
}

footer .bottom-bar #menu-social-links {
  margin-bottom: 0;
}

/* END FOOTER */


/* Buttons */
button:focus {
  outline: none;
}