
main {
  //background: $gray-300;
}


/* LAYOUT */

  // Containers
  .container {
    padding-right: 0;
    padding-left: 0;
  }

/* END LAYOUT */


/* HEADER */

  .site-title small {
    font-size: 1rem;
  }

  header .navbar-nav {
    letter-spacing: .277em;
  }

  header .nav-link {
    margin: 0;
  }

  // Navbar

  @media (min-width: 992px) {

    // Overriding Bootstrap's hardcoded padding
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 0;
      padding-left: 0;
    }

    .navbar-nav .nav-item + .nav-item:before {
      content: '\00a0|\00a0'
    }

    .navbar-nav .dropdown-menu .nav-item:before {
      content: ''
    }

  }

/* END HEADER */



/* FOOTER */

  .footer-top .site-info {
    color: $white;
  }

  footer .bottom-bar {
    font-size: 2rem;
  }

/* END FOOTER */


/* COMPONENTS */


  // Typography
  html {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    html,
    body {
      font-size: 15px;
    }
  }

  @media (min-width: 992px) {
    html,
    body {
      font-size: 16px;
    }
  }

  // Nav
  .nav-item,
  .nav-link {
    color: $white;
    display: inline-block;
  }

  .dropdown-menu .nav-item {
    display: block;
  }

  .nav-link {
    margin: 0 1rem;
  }

  .back-to-top {
    font-size: 1.5rem;
  }

  // Lists
  ol, ul, dl {
    margin-bottom: 0;
  }


  /* COLORS */

  /* END COLORS */

  // Buttons

  // Address
  address {
    margin-bottom: 0;
  }

/* END COMPONENTS */




